body {
    font-size: 1rem;
}

button {
    background-color: chocolate;
    color: black;
    padding: 1rem;
    font-size: 1rem;;
    width: 100%;
}
label {
    display: inline-block;
    width: 10%;
}
input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 1rem;
    width: 80%;
}

#root {
    width: 500px;
    margin: 10px auto;
}